#!/usr/bin/make -f

DESTDIR=debian/atom
PACKAGE=atom-amd64
TARGET=cache/$(PACKAGE).deb

URL=https://atom-installer.github.com/v1.60.0/$(PACKAGE).deb
SHA=5c7c0259062b9d4911d2537bfceaff5316f9de111698840a90d7cd497df891a6

%:
	dh $@

override_dh_auto_clean:
	if ! ischroot; then \
		echo checking; \
		if ! test "$(SHA)" = "$(shell sha256sum ${TARGET} | cut -d' ' -f1)"; then \
			rm -rf cache; \
			curl --create-dirs -o "${TARGET}" "$(URL)" ; \
			test "$(SHA)" = "$(shell sha256sum ${TARGET} | cut -d' ' -f1)"; \
			echo passed; \
		fi; \
	fi

override_dh_auto_install:
	dpkg-deb -xv "$(TARGET)" "$(DESTDIR)"

override_dh_auto_build:
override_dh_strip:
override_dh_shlibdeps:
